/*Background color of navbar, use #4caf50 for a green color, #0089ec for blue*/
nav {
	/*Lol its transparent now anyway*/
	background: transparent;
}

/*Font size of navbar links*/
nav ul a {
	font-size: 17px;
	text-transform: uppercase;
}

/*Color of active page link*/
nav ul li.active {
    background-color: #00bcd4;

}
body {
	background-color: #0081ff;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}
@keyframes AnimationName { 
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}

.progress {
	margin: 0;
	background-color: #fff;
}
.indeterminate {
	background-color: #0081ff !important;
}
/*Position of logo*/
.logo {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../images/logo.png') 50% 50% no-repeat;
}

.rlogo {
	animation: logo 4s ease infinite;
}

@keyframes logo{
	0%{filter: blur(0px);}
	50% {filter: blur(2px);}
	100% {filter: blur(0px);}
}

@-webkit-keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn:hover {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
  animation: rotateIn 2s;
}

.revamp-logo {
	margin: auto;
	width: 300px;
}

.counter-caption {
	color: white;
	text-align: center;
}

h2,h1{
	color: white;
	text-transform: uppercase;
}

.collapsible-body{
	background-color:white;
	
}
.emodal{
	padding: 0 !important; 
}

.tabs {
	overflow-x: hidden;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #2196F3;
}

@media only screen and (max-width: 992px){
	.modal {
	    width: 95%;
	}
}

.page-footer {
	background-color: transparent !important;
}

.anuj {
	display: inline-block;
	float: right;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation: zoomIn 3s;
}

@media(max-width: 600px){
	/*This is an awesome gradient animation for background*/
	body.cool{
		background: linear-gradient(189deg, #ffab00, #0081ff, #d71a1a, #3abd67);
		background-size: 800% 800%;

		-webkit-animation: AnimationName 32s ease infinite;
		-moz-animation: AnimationName 32s ease infinite;
		animation: AnimationName 32s ease infinite;
	}
}

footer.page-footer .footer-copyright{
	background-color: rgba(51, 51, 51, 0.68);
  height: auto !important;
}

